{{ 'header.css' |  asset_url |  stylesheet_tag }}


<header class="nav-bar__container">
  <div class="nav-bar__items">
    <a href=""

  </div>
</header>

{%  schema  %} 
{
  "name": "Header",
  "settings": [
    {
      "type": "image_picker",
      "id": "desktop_logo",
      "label": "Logo"
    }
  ]
}

{% endschema %}