{{ 'header.css' |  asset_url |  stylesheet_tag }}


<header class="nav-bar__container">
  <div class="nav-bar__items">
    <
    <a href="/">
      <img src="{{ section.settings.desktop_logo |  image_url: width: section.settings.desktop_logo.width }}" class="header__brand-logo">
    </a>

  </div>
</header>

{%  schema  %} 
{
  "name": "Header",
  "settings": [
    {
      "type": "image_picker",
      "id": "desktop_logo",
      "label": "Logo"
    }
  ]
}

{% endschema %}