.section-footer {
  display: flex;
  flex-direction: column;
  background-color: black;
  color: white;
}

.section-footer__wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px;

}

.brand