.section-footer {
  display: flex;
  flex-direction: column;
  background-color: black;
  color: white;
}

.section-footer__wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px;

}

.brand__info-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.footer__brand-logo {
  width: 140px;
  height: ;
}