.section-footer {
  display: flex;
  flex-direction: column;
  background-color: black;
  color: white;
}

.section-footer__wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px;
  flex-direction: column;
  gap: 25px;

}

.brand__info-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.footer__brand-logo {
  width: 140px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer__brand-img {
  width: 140px;
  height: 60px;
  object-fit: cover;
}

.brand__info-wrapper p {
  font: 400 19px 'Rubik';
  color: white;
  text-align: center;
  margin-bottom: 20px;
}

.footer__social-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
}

.footer__social-icon svg.icon {
  width: 36px;
  height: 36px;
}

.footer__social-icon svg.icon path {
  fill: white;
}

.footer__menu-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.footer__menu-wrapper li {
  list-style-type: none;
}

.footer__menu-wrapper a {
  font: 700 19px 'Rubik';
  color: white;
  text-align: center;
  position: relative;
}

#parent-link:hover {
  color: white;
}

#parent-link::after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: white;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

#parent-link:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}


.footer__menu-wrapper-child {
  display: flex;
  gap: 10px;
  flex-direction: column;
  align-items: baseline;
  justify-content: center;
 
  /* height: 0;
  transition: height 0.3sec ease-in-out;
  */

  }

  #parent-link {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
  }


  .footer__menu-wrapper-child {
    max-height: 0; /* Initially hidden */
    overflow: hidden;
    transition: max-height 0.3s ease-out; /* Transition for the dropdown */
  }
  
  .footer__menu-wrapper-child.visible {
    max-height: 200px; /* Set to a maximum height that can fit the child links */
    /* Adjust 200px as needed depending on how many links you have */
    padding: 10px 20px;
    padding-right: 0;
  }







.footer__copyright {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 25px;
}

.footer__copyright p {
  font: 400 19px 'Rubik';
}

.footer__country-selector {
  display: flex;
  justify-content: center;
  padding-bottom: 25px;
}

.footer__country-selector button {
  width: 225px;
}

.footer__country-selector ul {
  margin: 0;
  background-color: white;
  border-radius: 0;
  bottom: 100%;
  box-shadow: 0 0 20px #00000017;
  color: var(--colorTextBody);
  margin: 0;
  max-height: 60vh;
  min-height: 92px;
  overflow-y: auto;
  padding: 10px 0;
  position: absolute;
}

.footer__country-selector ul li {
  list-style-type: none;
  padding: 5px 15px 4px;
  text-align: left;
  white-space: nowrap;
}


@media screen and (min-width: 786px) {
  .section-footer__wrapper {
    flex-direction: row;
    justify-content: flex-start;
    padding: 45px 115px;
    gap: 110px;
  }

  .brand__info-wrapper {
    align-items: baseline;
    width: 310px;
    gap: 15px;
  }

  .brand__info-wrapper p {
    text-align: start;
  }

  .footer__social-icon {
    justify-content: flex-start;
  }

  .footer__menu-wrapper {
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 175px));
    justify-content: space-between;
    align-self: flex-start;
    width: 800px;
    
  }

  .footer__menu-wrapper a {
    text-align: start;
    /* margin-right: 80px;
    margin-bottom: 20px; */
  }

  .icon--payment svg {
    width: 50px;
    height: 40px;
  }

  .payment-icons {
    padding-bottom: 25px;
  }

  #parent-link {
    justify-self: flex-start;
  }
  .footer__country-selector button {
    width: 225px;
  }
}