/* .nav-bar__container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
  height: 55px;
  width: 100%;
} */

@font-face {
  font-family: 'Futura PT Medium';
  src: url('https://cdn.shopify.com/s/files/1/0852/8553/6031/files/FuturaCyrillicMedium.woff?v=1729828394');
}

@font-face {
  font-family: 'Futura PT Light';
  src: url('https://cdn.shopify.com/s/files/1/0852/8553/6031/files/FuturaCyrillicLight.woff?v=1729828572');
}

@font-face {
  font-family: "Master";
  src: url('https://cdn.shopify.com/s/files/1/0852/8553/6031/files/Master.woff2?v=1729828853');
}


.nav-bar__items {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: black;
  height: 55px;
  width: 100%;
  padding: 0 25px;
}

.header__brand-logo {
  width: 85px;
  height: 26px;
}

.site-nav__link--icon {
  display: flex;
  align-items: center;
}

.nav-drawer__container {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  display: flex;
  flex-direction: column;
  align-items: baseline;
  justify-content: flex-start;
  background: white;
  z-index: 1;
}

.nav-drawer__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
  background: black;
  padding: 0 25px;
  width: 100%;
}

.nav-drawer__close-btn {
  display: flex;
  align-items: center;
  transform: rotate(0);
  transition: transform 0.3s ease-in-out ;
}

.nav-drawer__close-btn:hover {
  transition: transform 0.3s ease-in-out ;
  transform: rotate(90deg);
}

.shop__info-wrapper {
  display: flex;
  justify-content: center;
  align-items: baseline;
  gap: 10px;
  flex-direction: column;
  padding: 25px;
  padding-right: 0;
}

.shop__info-wrapper h2 {
  font: 400 22px 'Master';
  color: black;
}

.shop__info-wrapper div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px
}

.shop__info-wrapper div p {
  font: 12px 'Futura PT Light';
  display: flex;
  align-items: center;
  gap: 5px;
}

.shop__info-wrapper div span {
  display: flex;
  align-items: center;
}

.nav-drawer__product-card-wrapper {
  padding-inline-start: 25px;
}

.nav__product-card {
  display: flex;
  width: 330px;
  height: 100px;
  padding: 10px;
  gap: 12px;
  align-items: center;
  justify-content: flex-start;
  background: #FBFBFB;
  border: 1px solid #D4D4D4;
  border-radius: 5px;
  overflow: hidden;
}

.nav__product-img-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 77px;
  height: 77px;
  border-radius: 2px;
  overflow: hidden;
}

.nav__product-img {
  width: 77px;
  height: 77px;
  object-fit: cover;
}

.nav__product-info-wrapper {
  display: flex;
  flex-direction: column;
  align-items: baseline;
  justify-content: flex-start;
  gap: 10px
}

.product__badge {
  padding: 2px 7px;
  background-color: #FFAA00;
  color: #25160D;
  font: 500 14px 'Futura PT Medium';
  border-radius: 2px;
}

.nav__product-title {
  font: 20px 'Master';
  color: #231811;
  margin: 0;
}

.nav__product-review__wrapper {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: px;
}






