/* .nav-bar__container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
  height: 55px;
  width: 100%;
} */

.nav-bar__items {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: black;
  height: 55px;
  width: 100%;
  padding: 0 25px;
}

.header__brand-logo {
  width: 85px;
  height: 26px;
}