/* .nav-bar__container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
  height: 55px;
  width: 100%;
} */

.nav-bar__items {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
  height: 55px;
  width: 100%;
}

.header__brand